.container {
    animation: FadeIn 1s ease-in-out;
}

.container_carousel {
    width: 100vw;
}

.container_carousel_slide {
    position: relative;
    background-color: black;
    height: 10px
}

.slideImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 400px;
}

.container_carousel_slide_text {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 100px;
    gap: 20px
}

.image {
    height: 100%;
}

.title {
    font-size: 42px;
    font-weight: bolder;
    color: white;
}

.subtitle {
    font-size: 24px;
    font-weight: normal;
    color: white;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
