.navbar {
    display : flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.navitem {
    color: black;
    font-size: 24;
    margin: 10px;
}

.navitem:hover {
    color: rgba(0, 0, 0, 0.8);
}


.searchbar {
    border-radius: 25px;
    border: 2px solid rgba(75, 75, 75, 0.75);
    padding: 8px;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.searchinput {
    border: none;
    background-color: white;
}

.searchinput:focus {
    border: none;
    outline: none;
    background-color: white;
}

.searchinput:hover {
    border: none;
}

.searchicon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.searchbar:hover {
    background-color: rgba(168, 168, 168, 0.2);
}


.cart {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #888888;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 100px;
}

.cart:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.carticon {
    width: 40px;
}

.cartquantity {

}