.cartpagecanvas {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 5vw;
    flex-wrap: wrap;
}

.cartsection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.ProductCard {
    padding: 1vw;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px #cbcbcb;
}

.ProductImage {
    width: 100px;
}

.checkoutsection {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.checkoutbutton {
    text-decoration: none;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: green;
    color: white;
    font-weight: bold;
}