
root {
}

body {
  margin: 0;
  background-color: #efefef;
}

h1,h2,h3,p {
  font-family: Dubai, serif;
}

.sidecategorylayout {
  display: flex;
  flex-direction: column;
}

Link, link {
  text-decoration: none;
}

.categorysidebar {
  padding-left: 25px;
  padding-right: 70px;
}

.categorylink {
  text-decoration: none;
}

.categories {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  gap: 10px;
}

.productstocked {
  margin-top: 10px;
  color: green;
  font-weight: 500;
}

