.homelayout {
    display: flex;
    flex-direction: column;
    gap: 100px;
}



.mostsellingcanvaas {
    background-color: #dedede;
    flex-direction: row;
    flex: 1;
}

.mostsellingheader {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 50px;
    font-weight: bold;
}

.movingcards {
    display: flex;
    flex-direction: row;
    animation: moveRightToLeft 30s ease-in-out infinite;
}

.productcard {
    margin: 12px;
    border-radius: 20px;
    background-color: #cecece;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.productimage {
    flex: 1;
    border-radius: 20px 20px 0px 0px;
    width: max(250px);
    height: max(50px);
}

.cardtext {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.cardprice {
    font-size: 16px;
}


@keyframes moveRightToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}