.homelayout {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.carouselcanvas {
    flex: 1;
    padding: 0px 200px 0px 200px;
}

.carousel {
    width: max(800px);
}

.carouselitem {
    background-color: purple;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.innercarouselitem{
    height: 500px;
    display: flex;
}

.newsimage {
    flex: 1;
    object-fit: fill;
    z-index: 0;
}

.newstitles {
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.mostsellingcanvaas {
    background-color: #dedede;
    flex-direction: row;
    flex: 1;
}

.mostsellingheader {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 50px;
    font-weight: bold;
}

.movingcards {
    display: flex;
    flex-direction: row;
    animation: moveRightToLeft 30s ease-in-out infinite;
}

.productcard {
    margin: 12px;
    border-radius: 20px;
    background-color: #cecece;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.productimage {
    flex: 1;
    border-radius: 20px 20px 0px 0px;
    width: max(250px);
    height: max(50px);
}

.cardtext {
    text-decoration: none;
    text-underline-mode: none;
    text-underline: none;
    color: black;
    font-size: 16px;
}


@keyframes moveRightToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}