.navbar {
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    padding: 10px;
    padding-left: max(50px);
    padding-right: max(50px);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-bottom: 25px;
}

.links {
    margin-top: 12px;
    align-content: center;
    justify-content: center;
}

.navitem {
    color: black;
    margin: 10px;
    font-size: 24px;
    text-decoration: none;
}

.navitem:hover {
    color: rgba(0, 0, 0, 0.8);
}


.searchbar {
    border-radius: 25px;
    border: 2px solid rgba(75, 75, 75, 0.75);
    padding: 4px;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchinput {
    border: none;
    border-radius: 50px;
    background-color: white;
}

.searchinput:focus {
    border: none;
    outline: none;
    background-color: white;
}

.searchinput:hover {
    border: none;
}

.searchicon {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.searchbar:hover {
    background-color: rgba(168, 168, 168, 0.2);
}


.cart {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #dedede;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 100px;
}

.cart:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.carticon {
    width: 30px;
}

.cartquantity {

}

.authbutton {

}

@media (max-width: 900px) {
    .navbar {

        justify-content: center;
    }

}